# =========================
# ENV (секреты)
# =========================
deploy/.env
**/.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/

# =========================
# Django runtime data
# =========================
staticfiles/
media/
debug.log*

# =========================
# Frontend
# =========================
node_modules/
#dist/

# =========================
# Docker volumes
# =========================
pgdata/

# deploy — ТОЛЬКО НА СЕРВЕРЕ
deploy/

