@keyframes spinning {
   0% {
      transform: rotate(0)
   }

   to {
      transform: rotate(2turn)
   }
}

fieldset[disabled] .multiselect {
   pointer-events: none
}

.multiselect__spinner {
   position: absolute;
   right: 1px;
   top: 1px;
   width: 40px;
   height: 38px;
   background: #fff;
   display: block
}

.multiselect__spinner::after,
.multiselect__spinner::before {
   position: absolute;
   content: "";
   top: 50%;
   left: 50%;
   margin: -8px 0 0-8px;
   width: 16px;
   height: 16px;
   border-radius: 100%;
   /* border-color: #41b883 transparent transparent; */ 
   border-color: var(--color-primary) transparent transparent;
   border-style: solid;
   border-width: 2px;
   box-shadow: 0 0 0 1px transparent;
   animation: spinning 2.4s cubic-bezier(.41, .26, .2, .62);
   animation-iteration-count: infinite
}

.multiselect__spinner::after {
   animation: spinning 2.4s cubic-bezier(.51, .09, .21, .8)
}

.multiselect__loading-enter-active {
   transition: opacity .4s ease-in-out;
   opacity: 1
}

.multiselect__loading-leave-active {
   transition: opacity .4s ease-in-out
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
   opacity: 0
}

.multiselect,
.multiselect__input,
.multiselect__single {
   /* font-family: inherit; */
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   touch-action: manipulation;
   /* Добавил */
   line-height: 1.5;
}

.multiselect {
   box-sizing: content-box;
   display: block;
   position: relative;
   width: 100%;
   min-height: 40px;
   text-align: left;
   /* color: #35495e */
   color: var(--color-grey-dark)
}

.multiselect * {
   box-sizing: border-box
}

.multiselect:focus {
   outline: 0
}

.multiselect--disabled {
   /* background: #ededed;  */
   background: var(--color-grey-light);
   pointer-events: none;
   opacity: .6
}

.multiselect--active {
   z-index: 50
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

/* Добавлен */
.multiselect--active:not(.multiselect--above) .multiselect__tags {
   border: 1px solid var(--color-grey);
}

.multiselect--active .multiselect__select {
   transform: rotateZ(180deg)
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
   border-top-left-radius: 0;
   border-top-right-radius: 0
}

.multiselect__input {
   /* padding: 0 0 0 5px; */
   padding: 0;
   margin-bottom: 8px;
}

.multiselect__input,
.multiselect__single {
   position: relative;
   display: inline-block;
   min-height: 20px;
   /*line-height: 20px;*/
   line-height: 1.5;
   border: 0;
   /* border-radius: 5px; */
   border-radius: 4px;
   background: #fff;
   width: calc(100%);
   transition: border .1s ease;
   box-sizing: border-box;
   vertical-align: top
}

.multiselect__input::placeholder {
   /* color: #35495e */
   color: var(--color-grey)
}

.multiselect__tag~.multiselect__input,
.multiselect__tag~.multiselect__single {
   width: auto
}

.multiselect__input:hover,
.multiselect__single:hover {
   /* border-color: #cfcfcf */
   border-color: var(--color-grey-medium-light)
}

.multiselect__input:focus,
.multiselect__single:focus {
   /* border-color: #a8a8a8; */
   border-color: var(--color-grey);
   outline: 0
}

.multiselect__single {
   padding: 0 0 0 5px;
   margin-bottom: 8px
}

.multiselect__tags-wrap {
   display: inline
}

.multiselect__tags {
   min-height: 40px;
   display: block;
   padding: 8px 40px 0 8px;
   /* border-radius: 5px; */
   border-radius: 4px;
   /* border: 1px solid #e8e8e8; */
   border: 1px solid var(--color-grey-medium-light);
   background: #fff;
   /* font-size: 14px */
   font-size: 16px; /* Размер шрифта */
}

/* Добавлен */
.multiselect__tags:hover {
   border: 1px solid var(--color-grey);
}

.multiselect__tag {
   position: relative;
   display: inline-block;
   padding: 4px 26px 4px 16px;
   /* border-radius: 5px; */
   border-radius: 4px;
   margin-right: 10px;
   color: #fff;
   /* line-height: 1; */
   line-height: 1.5;
   /* background: #41b883; */
   background: var(--color-primary);
   margin-bottom: 5px;
   white-space: nowrap;
   overflow: hidden;
   max-width: 100%;
   text-overflow: ellipsis
}

.multiselect__tag-icon {
   cursor: pointer;
   margin-left: 7px;
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   /* font-weight: 700 */
   font-weight: 600;
   font-style: initial;
   width: 22px;
   text-align: center;
   line-height: 22px;
   transition: all .2s ease;
   /* border-radius: 5px; */
   border-radius: 4px
}

.multiselect__tag-icon::after {
   content: "×";
   /* color: #266d4d; */
   color: var(--color-primary-dark);
   /*font-size: 14px */
   font-size: 16px; /* Размер шрифта */
}

.multiselect__tag-icon:focus::after,
.multiselect__tag-icon:hover::after {
   color: #fff
}

.multiselect__current,
.multiselect__select {
   line-height: 16px;
   display: block;
   box-sizing: border-box;
   margin: 0;
   text-decoration: none;
   cursor: pointer
}

.multiselect__current {
   min-height: 40px;
   overflow: hidden;
   padding: 8px 30px 0 12px;
   white-space: nowrap;
   /* border-radius: 5px; */
   border-radius: 4px;
   /* border: 1px solid #e8e8e8 */
   border: 1px solid var(--color-grey)
}

.multiselect__select {
   position: absolute;
   width: 40px;
   height: 38px;
   right: 1px;
   top: 1px;
   padding: 4px 8px;
   text-align: center;
   transition: transform .2s ease
}

.multiselect__select::before {
   position: relative;
   right: 0;
   top: 65%;
   /* color: #999; */
   color: var(--color-grey);
   margin-top: 4px;
   border-style: solid;
   border-width: 5px 5px 0;
   /* border-color: #999 transparent transparent; */
   border-color: var(--color-grey) transparent transparent;
   content: ""
}

.multiselect__placeholder {
   /* color: #adadad; */
   color: var(--color-grey);
   display: inline-block;
   /* margin-bottom: 10px; */
   margin-bottom: 8px;
   /* padding-top: 2px; */
   padding-top: 0px;
}

.multiselect--active .multiselect__placeholder {
   display: none
}

.multiselect__content-wrapper {
   position: absolute;
   display: block;
   background: #fff;
   width: 100%;
   max-height: 240px;
   overflow: auto;
   /* border: 1px solid #e8e8e8; */
   border: 1px solid var(--color-grey);
   border-top: none;
   /* border-bottom-left-radius: 5px; */
   /* border-bottom-right-radius: 5px; */
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   z-index: 50;
   -webkit-overflow-scrolling: touch
}

.multiselect__content {
   list-style: none;
   display: inline-block;
   padding: 0;
   margin: 0;
   min-width: 100%;
   vertical-align: top
}

.multiselect--above .multiselect__content-wrapper {
   bottom: 100%;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   /* border-top-left-radius: 5px; */ 
   /* border-top-right-radius: 5px; */
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-bottom: none;
   /* border-top: 1px solid #e8e8e8 */
   border-top: 1px solid var(--color-grey)
}

.multiselect__content::-webkit-scrollbar {
   display: none
}

.multiselect__element {
   display: block
}

.multiselect__option {
   display: block;
   padding: 12px;
   min-height: 40px;
   line-height: 16px;
   text-decoration: none;
   text-transform: none;
   vertical-align: middle;
   position: relative;
   cursor: pointer;
   /* white-space: nowrap */
}

.multiselect__option::after {
   top: 0;
   right: 0;
   position: absolute;
   line-height: 40px;
   padding-right: 12px;
   padding-left: 20px;
   /* font-size: 13px */
   font-size: 16px; /* Размер шрифта */
}

.multiselect__option--highlight {
   /* background: #41b883; */
   background: var(--color-primary);
   outline: 0;
   color: #fff
}

.multiselect__option--highlight::after {
   content: attr(data-select);
   /* background: #41b883; */
   background: var(--color-primary);
   color: #fff
}

.multiselect__option--selected {
   /* background: #f3f3f3; */
   background: var(--color-grey-light);
   /* color: #35495e; */
   color: var(--color-grey-dark);
   /* font-weight: 700 */
   font-weight: 500
}

.multiselect__option--selected::after {
   content: attr(data-selected);
   /* color: silver; */
   color: var(--color-grey);
   background: inherit
}

.multiselect__option--selected.multiselect__option--highlight {
   /* background: #ff6a6a; */
   background: var(--color-primary-dark);
   color: #fff
}

.multiselect__option--selected.multiselect__option--highlight::after {
   /* background: #ff6a6a; */
   background: var(--color-primary-dark);
   content: attr(data-deselect);
   color: #fff
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
   /* background: #ededed; */
   background: var(--color-grey-light);
   /* color: #a6a6a6 */
   color: var(--color-grey-dark)
}

.multiselect__option--disabled {
   /* background: #ededed !important; */ 
   background: var(--color-grey-light) !important;
   /* color: #a6a6a6 !important; */
   color: var(--color-grey-dark) !important;
   cursor: text;
   pointer-events: none
}

.multiselect__option--group {
   /* background: #ededed; */
   background: var(--color-grey-light);
   /* color: #35495e */
   color: var(--color-grey-dark)
}

.multiselect__option--group.multiselect__option--highlight {
   /* background: #35495e; */
   background: var(--color-grey-dark);
   color: #fff
}

.multiselect__option--group.multiselect__option--highlight::after {
   /* background: #35495e */ 
   background: var(--color-grey)
}

.multiselect__option--disabled.multiselect__option--highlight {
   /* background: #dedede */
   background: var(--color-grey-light)
}

.multiselect__option--group-selected.multiselect__option--highlight {
   /* background: #ff6a6a; */
   background: var(--color-primary-dark);
   color: #fff
}

.multiselect__option--group-selected.multiselect__option--highlight::after {
   /* background: #ff6a6a; */
   background: var(--color-primary-dark);
   content: attr(data-deselect);
   color: #fff
}

.multiselect-enter-active,
.multiselect-leave-active {
   transition: all .15s ease
}

.multiselect-enter,
.multiselect-leave-active {
   opacity: 0
}

.multiselect__strong {
   margin-bottom: 8px;
   line-height: 20px;
   display: inline-block;
   vertical-align: top
}

[dir=rtl] .multiselect {
   text-align: right
}

[dir=rtl] .multiselect__select {
   right: auto;
   left: 1px
}

[dir=rtl] .multiselect__tags {
   padding: 8px 8px 0 40px
}

[dir=rtl] .multiselect__content {
   text-align: right
}

[dir=rtl] .multiselect__option::after {
   right: auto;
   left: 0
}

[dir=rtl] .multiselect__clear {
   right: auto;
   left: 12px
}

[dir=rtl] .multiselect__spinner {
   right: auto;
   left: 1px
}