:root {
  /* Основной цвет - стальной синий */
  --color-primary: rgb(70, 130, 180); 
  /* На 20% темнее для кнопки */
  --color-primary-dark: rgb(56, 104, 144); 
  /* На 70% светлее для фона */
  --color-primary-light: rgb(179, 204, 229);
  /* На 70% светлее для фона и прозрачный*/
  --color-primary-light-trans: rgba(179, 204, 229, 0.5);

  /* Серые цвета */
  --color-grey-light: rgb(240, 240, 240); /* Светлее на 50% */
  --color-grey-medium-light: rgb(200, 200, 200); /* Светлее на 25% */
  --color-grey: rgb(160, 160, 160); /* Средний серый */
  --color-grey-medium-dark: rgb(120, 120, 120); /* Темнее на 25% */
  --color-grey-dark: rgb(60, 60, 60); /* Темнее на 50% */


  /* Цвета для статусов */
  --color-attention: rgb(220, 50, 50); /* Более теплый красный */
  --color-in-progress: rgb(255, 165, 0); /* Мягкий янтарный */
  --color-completed: rgb(0, 150, 70); /* Тёмно-зелёный */

  /* Темные версии цветов для статусов */
  --color-attention-dark: rgb(170, 0, 0); /* Темнее на 20% */
  --color-in-progress-dark: rgb(204, 112, 0); /* Темнее на 20% */
  --color-completed-dark: rgb(0, 120, 50); /* Темнее на 20% */

  /* Более светлые версии цветов для фона (на 70% светлее) */
  --color-attention-light: rgb(252, 235, 235); /* Светлее на 90% */
  --color-in-progress-light: rgb(255, 246, 230); /* Светлее на 90% */
  --color-completed-light: rgb(230, 245, 237); /* Светлее на 90% */
} 


/* Глобальные стили для <html> и <body> */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-grey-dark);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: var(--color-primary-dark);
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header-inner {
  width: 100%;
  max-width: 1400px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.main {
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.content-outer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.content-inner {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
}

.footer-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-grey-light);
}

.footer-inner {
  padding: 16px;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light-trans);
  z-index: 1100;
}

.header-menu-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  max-width: 312px;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.header-menu-inner::-webkit-scrollbar {
  width: 8px;
}

.header-menu-inner::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
  border-radius: 4px;
}

.header-menu-inner::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.header-menu-inner::-webkit-scrollbar-track {
  background: var(--color-grey-light);
}

.header-menu_title {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 400;
  padding: 8px 8px 8px 8px;
}

.header-menu_link{
  color: var(--color-grey-dark);
  font-size: 24px;
  text-decoration: none;
  padding: 8px 16px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s, transform 0.2s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, opacity 0.3s;
  word-wrap: break-word;
  font-weight: 400;
}

.header-menu_link:hover,
.header-menu_link:focus {
  color: var(--color-primary);
}

.header-menu_link-items-inner  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-menu-close_button-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-list-close_button-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 16px 0 16px;
}

.header-close_button {
  font-size: 32px;
  padding: 0px 8px;
  background: none;
  border: none;
  color: var(--color-grey);
  cursor: pointer;
}

.header-close_button:hover,
.header-close_button:focus {
  color: var(--color-grey-dark);
}

.header-list-outer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  max-width: 354px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 16px;
  overflow-y: auto; 
}

.header-list-outer::-webkit-scrollbar {
  width: 8px;
}

.header-list-outer::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
  border-radius: 4px;
}

.header-list-outer::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.header-list-outer::-webkit-scrollbar-track {
  background: var(--color-grey-light);
}


.header-list-search-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
}

.header-search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-grey-dark);
  font-family: 'Roboto', sans-serif;
}

.header-search-input::placeholder {
  color: var(--color-grey);
}

.header-search-input:hover,
.header-search-input:focus {
  border: 1px solid var(--color-grey);
  outline: none;
}

.header-list-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  height: 100%;
}

.header-list-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-grey-light);
  flex: 1;
}

.header-list-item {
  background-color: white;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  max-width: 312px;
}

.header-list-item-header {
  padding: 0 16px;
}

.header-list-item-title {
}

.header-list-item-title h2 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: break-word;
  max-width: 100%;
}

.header-list-item-text {
  padding: 0px 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-list-item-text-elem {
  margin-top: 0px;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  max-width: 100%;
}

.header-list-item-text-label {
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
  margin-right: 4px;
}

.header-list-item-menu {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-top: 2px solid var(--color-grey-light);
  flex-wrap: wrap;
}

.login-outer {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.login-inner {
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 124px);
  padding: 16px;
}

@media screen and (min-width: 1400px) {
  .login-outer {
    padding: 16px;
  }
  .login-inner {
  border-radius: 16px;
  }

}

@media screen and (max-width: 1399px) {
  .login-outer {
    padding: 0;
  }
  .login-inner {
  border-radius: 0;
  }
}

.login-card {
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-grey-medium-light);
  max-width: 468px;
  width: 100%;
}

.login-header {
  padding: 16px;
}

.login-header h1 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.login-form {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-text {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form-field {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.login-form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  text-wrap: nowrap;
}

.login-menu {
  border-top: 2px solid var(--color-grey-light);
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  flex-wrap: wrap;
}

.fullscreen-btn {
  position: absolute;
  top: 8px;
  right: 16px;
  display: inline-block;
  color: white;
  border-radius: 8px;
  padding: 4px 12px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

.fullscreen-btn:hover {
  background-color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
}

.button-group {

}

.button-group .button, .button {
  display: inline-block;
  color: white;
  border-radius: 8px;
  padding: 8px 24px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  border: 2px solid var(--color-primary);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
}

.button-group .button:first-child, 
.button {
  background-color: var(--color-primary);
}

.button-group .button:not(:first-child),
.button-second {
  background-color: white;
  color: var(--color-primary);
}

.button-group .button:first-child:hover,
.button-group .button:first-child:focus,
.button:hover,
.button:focus {
  background-color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
}

.button-group .button:not(:first-child):hover,
.button-group .button:not(:first-child):focus,
.button-second:hover,
.button-second:focus {
  background-color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
  color: white;
}

.minibutton-group {

}

.minibutton-group .minibutton {
  display: inline-block;
  color: white;
  border-radius: 8px;
  padding: 4px 12px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  border: 2px solid var(--color-primary);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

.minibutton-group .minibutton:first-child {
  background-color: var(--color-primary);
}

.minibutton-group .minibutton:not(:first-child) {
  background-color: white;
  color: var(--color-primary);
}

.minibutton-group .minibutton:first-child:hover,
.minibutton-group .minibutton:first-child:focus {
  background-color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
}

.minibutton-group .minibutton:not(:first-child):hover,
.minibutton-group .minibutton:not(:first-child):focus {
  background-color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
  color: white;
}

.editorbutton-group {

}

.editorbutton-group .editorbutton {
  display: inline-block;
  color: var(--color-grey-dark);
  border-radius: 4px;
  padding: 2px 6px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  border: 2px solid var(--color-grey-light);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-grey-light);
}

.editorbutton-group .editorbutton:hover,
.editorbutton-group .editorbutton:focus {
  background-color: var(--color-grey-medium-light);
  border: 2px solid var(--color-grey-medium-light);
}

.header-submenu {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.headerbutton-group {

}

.headerbutton-group .headerbutton {
  display: inline-block;
  color: white;
  border-radius: 4px;
  padding: 2px 6px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  border: none;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 32px;
  background-color: var(--color-primary-dark);
}

.headerbutton-group .headerbutton:hover,
.headerbutton-group .headerbutton:focus {
  transform: scale(1.05);
}

.modal-content-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light-trans);
  z-index: 1100;
}

.modal-content-outer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  max-width: 624px;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.modal-content-outer::-webkit-scrollbar {
  width: 8px;
}

.modal-content-outer::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
  border-radius: 4px;
}

.modal-content-outer::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.modal-content-outer::-webkit-scrollbar-track {
  background: var(--color-grey-light);
}

.modal-content-close_button-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
}

.modal-content-close_button {
  font-size: 32px;
  padding: 0px 8px;
  background: none;
  border: none;
  color: var(--color-grey);
  cursor: pointer;
}

.modal-content-close_button:hover,
.modal-content-close_button:focus {
  color: var(--color-grey-dark);
}

.modal-content-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  align-items: start;
  padding: 16px;
}

.modal-content-menu {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 8px;
}

.filters-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light-trans);
  z-index: 1100;
}

.filters-outer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  max-width: 624px;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.filters-outer::-webkit-scrollbar {
  width: 8px;
}

.filters-outer::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
  border-radius: 4px;
}

.filters-outer::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.filters-outer::-webkit-scrollbar-track {
  background: var(--color-grey-light);
}

.filters-close_button-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
}

.filters-close_button {
  font-size: 32px;
  padding: 0px 8px;
  background: none;
  border: none;
  color: var(--color-grey);
  cursor: pointer;
}

.filters-close_button:hover,
.filters-close_button:focus {
  color: var(--color-grey-dark);
}

.filters-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  align-items: start;
  padding: 16px;
}

.filters-field {
  width: 100%;
  box-sizing: border-box;
}

.filters-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  text-wrap: nowrap;
}

.filters-input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-grey-dark);
  font-family: 'Roboto', sans-serif;
}

.filters-input::placeholder {
  color: var(--color-grey);
}

.filters-input:hover,
.filters-input:focus {
  border: 1px solid var(--color-grey);
  outline: none;
}

.filters-menu {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 8px;
}

.form-page {
  background-color: white;
  display: flex;
  padding: 0 24px 24px 24px;
  gap: 24px;
  flex-direction: column;
}

.analytic-page {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.form-header {
}

.form-header h1 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 0px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.analytic-header {
  text-align: center;
  padding: 0 24px;
}

.analytic-header h1 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.analytic-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  padding: 0 24px;
  align-items: center;
  margin-bottom: 24px;
}

.form-field {
  flex: 1 1 624px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-recaptcha {
  align-items: center;
  padding-top: 32px;
}

.form-field-full_width {
  flex: 100%;
  max-width: 100%;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  /*text-wrap: nowrap;*/
}

.editor-container {
  display: flex;
  flex-direction: column;
  /*gap: 16px;*/
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-grey-dark);
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.editor-menu {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.ProseMirror-focused  { 
  outline: none; 
}

.tiptap {

  h1 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  h2 {
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px; 
    margin-bottom: 16px;
  }
  
  h3 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 16px; 
    margin-bottom: 16px;
  }
  
  h4 {
    font-weight: 500; 
    font-size: 18px;
    margin-top: 16px; 
    margin-bottom: 16px;
  }
  
  h5 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px; 
    margin-bottom: 16px;
  }
  
  h6 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 16px; 
    margin-bottom: 16px;
  }

  p {
    margin-top: 0;
    margin-top: 16px; 
    margin-bottom: 16px; 
  }

  ul, ol {
    margin-top: 0; 
    margin-bottom: 16px;
    padding-inline-start: 20px;
  }

  li p {
    margin-bottom: 8px;
  }

  pre {
    background: var(--color-grey-dark);
    border-radius: 12px;
    color: white;
    margin-top: 0; 
    margin-bottom: 16px; 
    padding: 16px;
    font-size: 14px;

  }

  pre code {
    background: none;
    font-family: monospace;
  }

  mark {
    background-color: var(--color-in-progress-light);
    border-radius: 4px;
    box-decoration-break: clone;
    padding: 2px 4px;
  }

  blockquote {
    border-left: 4px solid var(--color-grey-dark);
    margin: 0;
    padding-left: 16px;
  }

  hr {
    border: none;
    border-top: 2px solid var(--color-grey-dark);
    margin: 2rem 0;
  }

  .tableWrapper {
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    margin: 0;
    table-layout: fixed;
    width: 100%;
    margin-top: 0; 
    margin-bottom: 16px; 
  }

  table td,
  table th {
    border: 1px solid var(--color-grey-light);
    box-sizing: border-box;
    min-width: 1em;
    padding: 8px 12px;
    vertical-align: top;
    position: relative;
  }

  table td > *,
  table th > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  table th {
    background-color: var(--color-grey-light);
    font-weight: 500;
    font-size: 18px;
    text-align: left;
  }

  table .selectedCell:after {
    background: var(--color-primary-light-trans);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  table .column-resize-handle {
    background-color: var(--color-primary);
    pointer-events: none;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 2px;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  a {
    color: var(--color-primary-light);
    transition: transform 0.2s;
    text-decoration: underline;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  a:hover {
    text-decoration: none;
    color: var(--color-accent-rgb-dark);
  }

  img {
    margin-top: 0; 
    margin-bottom: 0; 
    max-width: 100%;
    border-radius: 12px;
    border: 1px solid var(--color-grey-medium-light);
    height: auto;

    &.ProseMirror-selectednode {
      outline: 2px solid var(--color-primary);
    }
  }

}

.tiptap.close {
  overflow: hidden;
  max-height: 150px;
}

.tiptap.close.expanded {
  max-height: none;
}

.expand-container {
  margin-bottom: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.expand-button {
  background: none;
  border: none;
  display: inline-block;
  color: var(--color-grey);
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

.expand-button:hover,
.expand-button:focus {
  color: var(--color-grey-dark);
}

.expand-button:disabled {
  pointer-events: none;
}

.form-input[type="text"],
textarea.form-input,
.form-input[type="password"],
.form-input[type="email"],
.form-input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-grey-dark);
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.form-input[type="datetime-local"],
.form-input[type="date"] {
  width: 100%;
  padding: 7px 8px;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-grey-dark);
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.form-input[type="text"]::placeholder,
textarea.form-input::placeholder,
.form-input[type="password"]::placeholder,
.form-input[type="email"]::placeholder,
.form-input[type="number"]::placeholder,
.form-input[type="datetime-local"]::placeholder,
.form-input[type="date"]::placeholder {
  color: var(--color-grey);
}

.form-input[type="text"]:focus,
textarea.form-input:focus,
.form-input[type="password"]:focus,
.form-input[type="email"]:focus,
.form-input[type="number"]:focus,
.form-input[type="datetime-local"]:focus,
.form-input[type="date"]:focus,
.form-input[type="text"]:hover,
.form-input[type="password"]:hover,
.form-input[type="email"]:hover,
.form-input[type="number"]:hover,
.form-input[type="datetime-local"]:hover,
.form-input[type="date"]:hover {
  border: 1px solid var(--color-grey);
  outline: none;
}

.form-input[type="text"]:disabled,
textarea.form-input:disabled,
.form-input[type="password"]:disabled,
.form-input[type="email"]:disabled,
.form-input[type="number"]:disabled,
.form-input[type="datetime-local"]:disabled,
.form-input[type="date"]:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.form-input[type="checkbox"] {
  width: 32px;
  height: 32px;
  margin: 0;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
}

.form-input[type="checkbox"]:hover,
.form-input[type="checkbox"]:focus {
  border: 1px solid var(--color-grey);
}

.form-input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  border: none;
}

.form-input[type="checkbox"]:checked::before {
  content: '';
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 1;
}

.form-input[type="checkbox"]:checked::after {
  content: '✔';
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.form-input[type="checkbox"]:hover:checked::before {
  background-color: var(--color-primary-dark);
}

.form-input[type="checkbox"]:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.form-input[type="file"] {
  font-size: 16px;
  color: var(--color-grey);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  cursor: pointer;
}

.form-input[type="file"]::file-selector-button {
  display: inline-block;
  color: white;
  border-radius: 8px;
  padding: 4px 12px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  border: 2px solid var(--color-primary);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--color-primary);
  margin-right: 12px;
}

.form-input[type="file"]::file-selector-button:hover,
.form-input[type="file"]::file-selector-button:focus {
  background-color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
}

.password-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.toggle-password {
  cursor: pointer;
  margin-left: 9px;
  position: absolute;
  right: 9px;
}

.form-input.password-input {
  padding-right: 40px;
}

.form-menu {
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 8px;
  padding-top: 24px;
}

.analytic-menu {
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 8px;
  padding: 24px;
}

.analytic-content {

}

.analytic-info {
  padding: 24px;
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list-header {
  padding: 0 24px;
  text-align: center;
}

.list-header h1 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.list-inner {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list-settings-button {
  background: none;
  border: none;
  display: inline-block;
  color: var(--color-grey);
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

.list-settings-button:hover,
.list-settings-button:focus {
  color: var(--color-grey-dark);
}

.list-settings-button:disabled {
  pointer-events: none;
}

.list-settings {
  padding: 0px 24px;
  margin-bottom: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: right;
  gap: 16px;
}

.list-items {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-grey-light);
  gap: 24px;
}

.list-grid {
  display: grid;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.list-card {
  background-color: white;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-card-top {
  padding: 0 16px;
  flex: 1;
}

.list-card-image-outer {
  /*flex: 1;*/
}

.list-card-image-inner {
  border-bottom: 2px solid var(--color-grey-light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.list-card-image-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-card-image-none {
  border-bottom: 2px solid var(--color-grey-light);
  background-color: var(--color-primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.list-card-header {
  margin-top: 20px;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
}

.list-card-header-title {

}

.list-card-header-title h2 {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: break-word;
  max-width: 100%;
}

.list-card-icons{
  margin-top: 16px;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.list-card-icon-progress {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  color: var(--color-in-progress);
  background-color: var(--color-in-progress-light);
  border-radius: 12px;
}

.list-card-icon-completed {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  color: var(--color-completed);
  background-color: var(--color-completed-light);
  border-radius: 12px;
}

.list-card-icon-attention {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  color: var(--color-attention);
  background-color: var(--color-attention-light);
  border-radius: 12px;
}

.list-card-icon-grey {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  color: var(--color-grey);
  background-color: var(--color-grey-light);
  border-radius: 12px;
}

.list-card-icon {
  margin-right: 4px;
}

.list-card-text {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px
}

.list-card-text-elem {
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  max-width: 100%;
}

.list-card-text-label {
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
  margin-right: 4px;
}

.list-card-menu {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-top: 2px solid var(--color-grey-light);
  flex-wrap: wrap;
}

.list-menu {
  padding: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.list-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grey-dark);
  gap: 16px;
}

@media screen and (min-width: 708px) {
  .list-grid {
    grid-template-columns: repeat(auto-fit, 312px);
  }
  .list-card-image-inner,
  .list-card-image-none {
    height: calc((312px) * 3 / 4);
  }
}

@media screen and (max-width: 707px) {
  .list-grid {
    grid-template-columns: 1fr;
  }
  .list-card-image-inner,
  .list-card-image-none {
    height: calc((100vw - 32px) * 3 / 4);
  }
}

@media screen and (min-width: 1400px) {
  .list-items {
    border-radius: 24px;
  }
  .list-page {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
  }

}

@media screen and (max-width: 1399px) {
  .list-items {
    border-radius: 0;
  }
  .list-page {
    margin: 0;
  }
}

.testing {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testing-area {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.question-area {
  flex: 3 1 640px;
  max-width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.test-header {
  display: flex;
  flex-direction: column;
  gap:16px
}

.test-header h2 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 0px; 
  margin-bottom: 0px;
}

.test-manual {
  color: var(--color-grey-medium-dark);
}

.question {
  display: flex;
  flex-direction: column;
  gap:16px
}

.question-text {

}

.question-text h1 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.question-manual {
  color: var(--color-grey-medium-dark);
}

.question-image-outer {
  display: flex;           
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 12px;
  overflow: hidden;
}

.question-image-inner {
  height: 360px;
}

.question-image-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--color-grey-medium-light);
}

.answer-image-outer {
  display: flex;           
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 12px;
  overflow: hidden;
}

.answer-image-inner {
  height: 240px;
}

.answer-image-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.answer-field {
  display: flex;
  gap: 16px;
  align-items: flex-start
}

.answer-input[type="text"],
textarea.answer-input,
.answer-input[type="password"],
.answer-input[type="email"],
.answer-input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-grey-dark);
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.answer-input[type="datetime-local"],
.answer-input[type="date"] {
  width: 100%;
  padding: 7px 8px;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-grey-dark);
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.answer-input[type="text"]::placeholder,
textarea.answer-input::placeholder,
.answer-input[type="password"]::placeholder,
.answer-input[type="email"]::placeholder,
.answer-input[type="number"]::placeholder,
.answer-input[type="datetime-local"]::placeholder,
.answer-input[type="date"]::placeholder {
  color: var(--color-grey);
}

.answer-input[type="text"]:focus,
textarea.answer-input:focus,
.answer-input[type="password"]:focus,
.answer-input[type="email"]:focus,
.answer-input[type="number"]:focus,
.answer-input[type="datetime-local"]:focus,
.answer-input[type="date"]:focus,
.answer-input[type="text"]:hover,
.answer-input[type="password"]:hover,
.answer-input[type="email"]:hover,
.answer-input[type="number"]:hover,
.answer-input[type="datetime-local"]:hover,
.answer-input[type="date"]:hover {
  border: 1px solid var(--color-grey);
  outline: none;
}

.answer-input[type="text"]:disabled,
textarea.answer-input:disabled,
.answer-input[type="password"]:disabled,
.answer-input[type="email"]:disabled,
.answer-input[type="number"]:disabled,
.answer-input[type="datetime-local"]:disabled,
.answer-input[type="date"]:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.answer-input[type="checkbox"] {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
}

.answer-input[type="checkbox"]:hover,
.answer-input[type="checkbox"]:focus {
  border: 1px solid var(--color-grey);
}

.answer-input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  border: none;
}

.answer-input[type="checkbox"]:checked::before {
  content: '';
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 1;
}

.answer-input[type="checkbox"]:checked::after {
  content: '✔';
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.answer-input[type="checkbox"]:hover:checked::before {
  background-color: var(--color-primary-dark);
}

.answer-input[type="checkbox"]:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.answer-input[type="radio"] {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 50%;                
  background-color: #fff;
  appearance: none;            
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  transition: border-color .15s ease;
}

.answer-input[type="radio"]:hover,
.answer-input[type="radio"]:focus {
  border-color: var(--color-grey);    /* такой же, как у чекбокса */
  outline: none;
}

.answer-input[type="radio"]:checked {
  border-color: var(--color-primary); /* границу можно убрать, если не нужно */
}

.answer-input[type="radio"]:checked::after {
  content: '';
  width: 12px;                        /* можно 10 px, если хочется мини‑точку */
  height: 12px;
  border-radius: 50%;
  background: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.answer-input[type="radio"]:hover:checked::after {
  background: var(--color-primary-dark);
}

.answer-input[type="radio"]:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.feedback_for_correct{
  color: var(--color-completed);
  font-weight: 500;
}
.feedback_for_incorrect{
  color: var(--color-attention);
  font-weight: 500;
}

.question-index {
  color: var(--color-grey-medium-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-menu {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 16px;
}

.test-nav-button {
  background: none;
  border: none;
  display: inline-block;
  color: var(--color-grey);
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  padding: 8px 16px;
}

.test-nav-button:hover,
.test-nav-button:focus {
  color: var(--color-grey-dark);
}

.test-nav-button:disabled {
  pointer-events: none;
}

.test-info-area {
  flex: 2 1 480px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap:16px;
}

.test-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--color-grey-medium-light);
}

.test-info-container-gray-light {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-grey-light);;
  border-radius: 12px;
  border: 1px solid var(--color-grey-medium-light);
}

.test-info-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.test-info-text-elem {
  padding: 8px 16px;
  background-color: var(--color-grey-light);
  border-radius: 12px;
  max-width: 100%;
  word-break: break-word;
  box-sizing: border-box;
}

.test-info-text-label {
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
  margin-right: 4px;
}

.test-info-menu {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.test-info-table-outer {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--color-grey-medium-light);
}

.test-info-table-inner {
  overflow-x: auto;
  max-width: 100%;
}

.test-info-table-inner table {
  border-collapse: collapse; 
  width: max-content; 
  min-width: 100%;  
}

.test-info-table-inner th {
  padding: 8px 12px;
  text-align: left;
  background-color: white;
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
}

.test-info-table-inner td {
  padding: 8px 12px;
  text-align: left;
  background-color: white;
  border-top: 2px solid var(--color-grey-light);
}


.test-info-table-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.test-info-button {
  padding: 0;
  background: none;
  border: none;
  display: inline-block;
  color: var(--color-grey);
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

.test-info-button:hover,
.test-info-button:focus {
  color: var(--color-grey-dark);
}

.detail-page {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.detail-card {
  padding: 32px 24px 0px 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.detail-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail-header-categories {
  display: flex;
  align-items: center;
}

.categories_link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 14px;
}

.categories_link:hover {
  text-decoration:none; 
  color: var(--color-primary);
}

.categories_separator {
  color: var(--color-primary-light);
  margin: 0 8px;
}

.detail-header-title {

}

.detail-header-title h1 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.detail-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 20px; 
}

.detail-card-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.detail-card-text-elem {
  padding: 8px 16px;
  background-color: var(--color-grey-light);
  border-radius: 12px;
  max-width: 100%;
  word-break: break-word;
  box-sizing: border-box;
}

.detail-card-text-label {
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
  margin-right: 4px;
}

.detail-card-image-outer {
  flex: 0 1 480px;
}

.detail-card-image-inner {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid var(--color-grey-medium-light);
}

.detail-card-image-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-card-image-none {
  background-color: var(--color-primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid var(--color-grey-medium-light);
}

.detail-menu {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  margin-top: auto;
  flex-wrap: wrap;
  padding-top: 20px;
}

.detail-tabs {
  display: flex;
  flex-direction: column;
}

.tabs-header {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  gap: 16px;
  background-color: white;
}

.tab-button {
  background: none;
  border: none;
  display: inline-block;
  color: var(--color-grey-medium-dark);
  padding: 14px 30px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;
  border-radius: 12px;
  border: 1px solid var(--color-grey-light);
  text-align: start;
}

.tab-button:hover,
.tab-button:focus  {
  color: var(--color-grey-dark);
  background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey-light);
}

.tab-button.active {
  color: var(--color-grey-dark);
  background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey-light);
}

.tabs-content {
  padding: 24px;
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.desc-tab {

}

.manual-tab {
  display: flex;
  justify-content: center;
}

.manual {
  max-width: 100%;
  padding: 0px 16px;
  background-color: white;
  border-radius: 12px;
  word-break: break-word;
  box-sizing: border-box;
  border: 1px solid var(--color-grey-medium-light);
}

.material-content {
  max-width: 100%;
  padding: 0px 16px;
  background-color: white;
  border-radius: 12px;
  word-break: break-word;
  box-sizing: border-box;
  border: 1px solid var(--color-grey-medium-light);
}

.content-menu {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  margin-top: auto;
  flex-wrap: wrap;
  padding-top: 24px;
}

.detail-tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.detail-tab-elem {
  padding: 8px 16px;
  background-color: white;
  border-radius: 12px;
  max-width: 100%;
  word-break: break-word;
  box-sizing: border-box;
  border: 1px solid var(--color-grey-medium-light);
}

.detail-tab-label {
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
  margin-right: 4px;
}

.chips-tab-outer {
  
}

.chips-tab-inner {
  display: grid;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

.chips-tab-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  max-width: 100%;
  word-break: break-word;
  box-sizing: border-box;
  border: 1px solid var(--color-grey-medium-light);
  gap: 16px;
}

.chips-tab-item-top {
  padding: 0 16px;
}

.chips-tab-item-title {
}

.chips-tab-item-title h2 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  max-width: 100%;
}

.chips-tab-item-detail {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.chips-tab-item-detail-elem {
  padding: 8px 16px;
  background-color: var(--color-grey-light);
  border-radius: 12px;
  max-width: 100%;
  word-break: break-word;
  box-sizing: border-box;
}

.chips-tab-item-detail-label {
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
  margin-right: 4px;
}

.chips-tab-item-menu-outer {
  margin-top: auto;
}

.chips-tab-item-menu-inner {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-top: 2px solid var(--color-grey-light);
}

.table-tab {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

.table-tab-table-outer {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--color-grey-medium-light);
}

.table-tab-table-inner {
  overflow-x: auto;
  max-width: 100%;
}

.table-tab-table-inner table {
  border-collapse: collapse; 
  width: max-content; 
  min-width: 100%;
}

.table-tab-table-inner th {
  padding: 8px 12px;
  text-align: left;
  background-color: white;
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
}

.table-tab-table-inner td {
  padding: 8px 12px;
  text-align: left;
  background-color: white;
  border-top: 2px solid var(--color-grey-light);
}

.table-tab-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.table-tab-button {
  padding: 0;
  background: none;
  border: none;
  display: inline-block;
  color: var(--color-grey);
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

.table-tab-button-margin-left {
  margin-left: 8px;
}

.table-tab-button:hover,
.table-tab-button:focus {
  color: var(--color-grey-dark);
}

.chat-tab {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

.chat-menu-outer {

}

.chat-menu-inner {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-top: 2px solid var(--color-grey-light);
}

.messages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message {
  display: flex;
  width: fit-content;
  flex-direction: column;
  border-radius: 20px;
  word-break: break-word;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid var(--color-grey-medium-light);
}

.message-received {
  margin-right: 32px;
  align-self: flex-start;

}

.message-sent {
  margin-left: 32px;
  align-self: flex-end;
}

.message-top {
  padding: 0 16px;
}

.message-title {
}

.message-title h2 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  max-width: 100%;
}

.message-detail {
  padding: 0 16px;
}

.message-menu{
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.tab-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grey-dark);
  gap: 16px;
}

.tab-settings-button {
  background: none;
  border: none;
  display: inline-block;
  color: var(--color-grey);
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  padding: 0 16px;
}

.tab-settings-button:hover,
.tab-settings-button:focus {
  color: var(--color-grey-dark);
}

.tab-settings-button:disabled {
  pointer-events: none;
}

.tab-search-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.tab-search-input {
  width: 100%;
  padding: 6px;
  border: 1px solid var(--color-grey-medium-light);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-grey-dark);
  font-family: 'Roboto', sans-serif;
}

.tab-search-input::placeholder {
  color: var(--color-grey);
}

.tab-search-input:hover,
.tab-search-input:focus {
  border: 1px solid var(--color-grey);
  outline: none;
}

.tab-list-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.test-section-tab {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.test-section-tab-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.test-section-tab-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  max-width: 100%;
  word-break: break-word;
  box-sizing: border-box;
  border: 1px solid var(--color-grey-medium-light);
  gap: 16px;
}

.test-section-tab-item-top {
  padding: 0 16px;
}

.test-section-tab-item-title {
}

.test-section-tab-item-title h2 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  max-width: 100%;
}

.test-section-tab-item-detail {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.test-section-tab-item-detail-elem {
  padding: 8px 16px;
  background-color: var(--color-grey-light);
  border-radius: 12px;
  max-width: 100%;
  word-break: break-word;
  box-sizing: border-box;
}

.test-section-tab-item-detail-label {
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
  margin-right: 4px;
}

.test-section-tab-item-menu-outer {
  margin-top: auto;
}

.test-section-tab-item-menu-inner {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-top: 2px solid var(--color-grey-light);
}

.test-section-table_container {
  padding: 0 16px;
}

.test-section-table-outer {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--color-grey-medium-light);
}

.test-section-table-inner {
  overflow-x: auto;
  max-width: 100%;
}

.test-section-table-inner table {
  border-collapse: collapse; 
  width: max-content; 
  min-width: 100%;  
}

.test-section-table-inner th {
  padding: 8px 12px;
  text-align: left;
  background-color: white;
  color: var(--color-grey-medium-dark);
  font-weight: 500;
  font-size: 18px;
}

.test-section-table-inner td {
  padding: 8px 12px;
  text-align: left;
  background-color: white;
  border-top: 2px solid var(--color-grey-light);
}

.test-section-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.test-section-button {
  padding: 0;
  background: none;
  border: none;
  display: inline-block;
  color: var(--color-grey);
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

.test-section-button:hover,
.test-section-button:focus {
  color: var(--color-grey-dark);
}

@media screen and (min-width: 532px) {
  .detail-card-image-inner,
  .detail-card-image-none {
    height: 480px;
  }
  .detail-card-text-elem,
  .detail-tab-elem,
  .chips-tab-item-detail-elem,
  .test-info-text-elem,
  .test-section-item-detail-elem {
    flex: 0 0 auto;
  }
  .chips-tab-inner {
    grid-template-columns: repeat(auto-fit, minmax(312px, 644px));
  }
}

@media screen and (max-width: 531px) {
  .detail-card-image-inner,
  .detail-card-image-none {
    height: calc(100vw - 51px);
  }
  .detail-card-text-elem,
  .detail-tab-elem,
  .chips-tab-item-detail-elem,
  .test-info-text-elem,
  .test-section-item-detail-elem {
    flex: 1 0 auto;
  }
  .chips-tab-inner {
    grid-template-columns: 1fr;
  }

}

@media screen and (min-width: 1400px) {
  .tabs-content {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 32px;
    border-radius: 16px;
  }
  .analytic-content {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 32px;
    border-radius: 16px;
  }

}

@media screen and (max-width: 1399px) {
  .tabs-content {
    margin: 0;
    border-radius: 0;
  }
  .analytic-content {
    margin: 0;
    border-radius: 0;
  }
}

.none-border {
  padding: 16px;
  background-color: white;
  border-radius: 12px;
  color: var(--color-grey);
  font-size: 18px;
  border: 1px solid var(--color-grey-medium-light); /* Граница вокруг всей таблицы */
  text-align: center;
}

.none-border-mini {
  padding: 8px 12px;
  background-color: white;
  border-radius: 12px;
  color: var(--color-grey);
  font-size: 16px;
  border: 1px solid var(--color-grey-medium-light); /* Граница вокруг всей таблицы */
  text-align: center;
}

.loading {
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey);
  font-size: 18px;
  box-sizing: border-box;
  /*min-height: calc(100vh - 60px);*/
  min-height: 100vh;
  background-color: var(--color-grey-light);
}

.none-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.none-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  color: var(--color-grey);
  font-size: 18px;
  box-sizing: border-box;
  background-color: var(--color-grey-light);
}

.none-text {
  color: var(--color-grey);
  font-size: 18px;
}

@media screen and (min-width: 1400px) {
  .none-container {
    padding: 16px;
  }
  .none-card {
    border-radius: 24px;
  }
  .analytic-info {
    border-radius: 24px;
  }
  .none-menu-padding {
    padding: 0;
  }
}

@media screen and (max-width: 1399px) {
  .none-container {
    padding: 0;
  }
  .none-card {
    border-radius: 0;
  }
  .analytic-info {
    border-radius: 0;
  }
  .none-menu-padding {
    padding: 0 16px;
  }
}

.tab-menu {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding-top: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-primary-light-trans);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.modal {
  background: white;
  border-radius: 12px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  max-width: 1728px;
  max-height: 100%;
}

.modal-header {
  padding: 0 16px;
}

.modal-header h2 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px; 
  margin-bottom: 0px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 16px;
  justify-content: flex-start;
  align-items: center;
}

.modal-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  border-top: 2px solid var(--color-grey-light);
  flex-wrap: wrap;
}

.avatar-preview {
  margin-top: 8px;
}

.avatar-preview-text {
  color: var(--color-grey);
  margin-right: 12px;
}

.upload_file-preview {
  margin-top: 8px;
}

.upload_file-preview-text {
  color: var(--color-grey);
  margin-right: 12px;
}

.link {
  color: var(--color-primary);
  word-break: break-word; 
}

.link:hover {
  color: var(--color-primary-dark);
}

.scorm-player {
    width: 100%;
    height: 100vh;
}

.scorm-player-iframe {
    width: 100%;
    height: 100%;
    border: none;
}